langchain
langchain-community
langchain-core
langchain-groq
langchain-chroma
langchain-text-splitters
groq
chromadb
faiss-cpu
sentence-transformers
tiktoken
pypdf
unstructured
python-docx
fastapi
uvicorn
python-dotenv
pydantic
numpy
pandas
youtube-transcript-api
streamlit
langchain-huggingface
langchain-google-genai
torchvision
chromadb